.big {
    color: rgb(218, 221, 29);
    font-style: oblique;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img{
    margin: 15%;
    width: 66%;
}
a{
    color: rgb(147, 212, 24);
    font-style: oblique;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
